/* Formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 90%;
  max-width: 400px;
}

/* Botones */
button {
  width: 80%;
  max-width: 150px;
  padding: 10px 15px;
  margin: 5px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:nth-child(2) {
  background-color: #dc3545;
}

button:nth-child(2):hover {
  background-color: #a71d2a;
}
